/*
  Plugin Name: POWER + RADACH werbeagentur gmbh - Gutenberg Team Modul
  Author: POWER + RADACH werbeagentur gmbh
  Author URI: https://www.power-radach.de
  Description: POWER + RADACH werbeagentur gmbh -  Gutenberg Team Modul  
  Version: 1.0
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "team"; 